@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&family=Shadows+Into+Light&display=swap');
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content : center;
  justify-content: center;
  font-family: 'Caveat', cursive;
  font-size: 2em;



}
body {
  background-color: #888684;
}

.App-logo {
  height: 60vh;
  pointer-events: none;
}

.button{
  background-color: #f7a986;
  border-radius: 40px;
  font-family: 'Caveat', cursive;
  align-self: center;
  width: 50%;
  font-size: 0.6em;
  
}

p{
  margin-left:2% ;
  margin-right: 2%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
